In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
file_path = '/content/drive/My Drive/your_folder/3) Sentiment dataset.csv'
data = pd.read_csv('/content/3) Sentiment dataset.csv')
print(data.head())

   Unnamed: 0.1  Unnamed: 0  \
0             0           0
1             1           1
2             2           2
3             3           3
4             4           4

                                                Text    Sentiment  \
0   Enjoying a beautiful day at the park!        ...   Positive
1   Traffic was terrible this morning.           ...   Negative
2   Just finished an amazing workout! ðŸ’ª          ...   Positive
3   Excited about the upcoming weekend getaway!  ...   Positive
4   Trying out a new recipe for dinner tonight.  ...   Neutral

             Timestamp            User     Platform  \
0  2023-01-15 12:30:00   User123          Twitter
1  2023-01-15 08:45:00   CommuterX        Twitter
2  2023-01-15 15:45:00   FitnessFan      Instagram
3  2023-01-15 18:20:00   AdventureX       Facebook
4  2023-01-15 19:55:00   ChefCook        Instagram

                                     Hashtags  Retweets  Likes       Country  \
0   #Nature #Park                                  15.0   30.0     USA
1   #Traffic #Morning                               5.0   10.0     Canada
2   #Fitness #Workout                              20.0   40.0   USA
3   #Travel #Adventure                              8.0   15.0     UK
4   #Cooking #Food                                 12.0   25.0    Australia

   Year  Month  Day  Hour
0  2023      1   15    12
1  2023      1   15     8
2  2023      1   15    15
3  2023      1   15    18
4  2023      1   15    19

In [ ]:
# Show missing values per column
print("Missing values per column:")
print(data.isnull().sum())

# Example: Fill numeric missing values with mean
for col in data.select_dtypes(include=['float64', 'int64']).columns:
    data[col] = data[col].fillna(data[col].mean())

# Fill categorical missing values with mode
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].fillna(data[col].mode()[0])

Missing values per column:
Unnamed: 0.1    0
Unnamed: 0      0
Text            0
Sentiment       0
Timestamp       0
User            0
Platform        0
Hashtags        0
Retweets        0
Likes           0
Country         0
Year            0
Month           0
Day             0
Hour            0
dtype: int64

In [ ]:
#deleting duplicates

print("Duplicates before removal:", data.duplicated().sum())
data = data.drop_duplicates()
print("Duplicates after removal:", data.duplicated().sum())

Duplicates before removal: 0
Duplicates after removal: 0

In [ ]:
# Standardize date columns
date_cols = [col for col in data.columns if 'date' in col.lower() or 'time' in col.lower()]
for col in date_cols:
    data[col] = pd.to_datetime(data[col], errors='coerce')

# Standardize categorical/text columns
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].astype(str).str.lower().str.strip()

# Convert numeric-like columns stored as strings to numeric
for col in data.columns:
    data[col] = pd.to_numeric(data[col], errors='ignore')

#final check
print("Cleaned dataset shape:", data.shape)
print(data.head())

Cleaned dataset shape: (732, 15)
   Unnamed: 0.1  Unnamed: 0                                         Text  \
0             0           0        enjoying a beautiful day at the park!
1             1           1           traffic was terrible this morning.
2             2           2          just finished an amazing workout! ðŸ’ª
3             3           3  excited about the upcoming weekend getaway!
4             4           4  trying out a new recipe for dinner tonight.

             Sentiment            Timestamp        User   Platform  \
0 -9223372036854775808  1673785800000000000     user123    twitter
1 -9223372036854775808  1673772300000000000   commuterx    twitter
2 -9223372036854775808  1673797500000000000  fitnessfan  instagram
3 -9223372036854775808  1673806800000000000  adventurex   facebook
4 -9223372036854775808  1673812500000000000    chefcook  instagram

             Hashtags  Retweets  Likes    Country  Year  Month  Day  Hour
0       #nature #park      15.0   30.0        usa  2023      1   15    12
1   #traffic #morning       5.0   10.0     canada  2023      1   15     8
2   #fitness #workout      20.0   40.0        usa  2023      1   15    15
3  #travel #adventure       8.0   15.0         uk  2023      1   15    18
4      #cooking #food      12.0   25.0  australia  2023      1   15    19

/tmp/ipython-input-46-3799415785.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data[col] = pd.to_datetime(data[col], errors='coerce')
/tmp/ipython-input-46-3799415785.py:12: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data[col] = pd.to_numeric(data[col], errors='ignore')